<nav class="navbar navbar-light" style="background-color: black;">
<!--<nav class="navbar navbar-light" style="background: -webkit-linear-gradient(160deg,#FF0000,#ffa500,#ffff00, #008000,#00ffff,#0000ff, #800080);">-->
<div class="head__inner">
  <header id="banner">
    <h2><a href="{{ .Site.BaseURL }}" style="color:white;font-family: 'Dela Gothic One', cursive;">{{ .Site.Title }}</a></h2>
  </header>
</div>

<ul id="nav-links" class="list-inline mb-1">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
        <li class="list-inline-item">
          <a href="{{ .URL }}" title="{{ .Title }}" style="color: white;font-weight: bold;">
            {{ .Name }}
          </a>
        </li>
    {{ end }}
</ul>

</nav>